.background-image {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: max-content;
  overflow-x: visible;
}

.title-text {
  font-size: 7vw;
  margin-bottom: 1rem;
  font-weight: 300;
}

.subtitle-text {
  font-size: 2vw;
  font-weight: 300;
}

.arrow-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  animation: bobbing 2s infinite alternate;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
