/* Import a monospaced font suitable for code */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* Apply the font to your code elements */
code {
  font-family: "Roboto Mono", monospace; /* Fallback to generic monospace font */
}

/* Apply general styles */
body,
html {
  font-family: "Source Code Pro", Arial, sans-serif; /* Fallback to a sans-serif font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
